
/* Arrow down */
.arrow-down{
    background: url(/img/icons/arrow-down.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 9px;
    display: block;
}
.arrow-left{
    background: url(/img/icons/arrow-down.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 9px;
    display: block;
    transform: rotate(90deg);
}
.arrow-up{
    background: url(/img/icons/arrow-down.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 9px;
    display: block;
    transform: rotate(180deg);
}
.arrow-right{
    background: url(/img/icons/arrow-down.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 9px;
    display: block;
    transform: rotate(270deg);
}

/* Progress buttons */
.indicator{
    width: 16px;
    height: 16px;
    background: transparent;
    border: 1px solid $primary-grey;
    &.active{
        background: $primary-purple;
        border: 1px solid $primary-purple;

    }
}


