body {
	font-family: $font__body;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4em;
	color: $color__text-main;
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}
