button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 6px 16px;
	border-radius: 30px;
	font-family: $font__body;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	background: $primary-red;
	border: 1px solid $primary-red;
	color: $color__text-button;
	cursor: pointer;
	&:hover{
		background: transparent;
		border: 1px solid $primary-red;
		color: $primary-grey;
	}

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
	&:visited{
		color: #ffffff;
	}
}

/* Button / CTA */
.text__cta{
	font-family: $font__default;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: $color__text-main;
	
}

.button{
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 7px 16px;
	border-radius: 30px;
	font-family: $font__body;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	background: $primary-red;
	border: 1px solid $primary-red;
	color: $color__text-button;
	cursor: pointer;
	&:hover{
		background: transparent;
		border: 1px solid $primary-red;
		color: $primary-grey;
	}
	&:visited{
		background: $primary-red;
		border: 1px solid $primary-red;
		color: $color__text-button;
	}
}

/* Button / Small */
.button__small{
	font-size: 13px;
	line-height: 18px;
}

/* Button / Primary */
.button__primary{
	background: $primary-red;
	border: 1px solid $primary-red;
	color: $color__text-button;
	&:hover{
		background: transparent;
		border: 1px solid $primary-red;
		color: $primary-grey;
	}
	&:visited{
		background: $primary-red;
		border: 1px solid $primary-red;
		color: $color__text-button;
	}
}

/* Button / Secondary */
.button__secondary{
	background: $color__background-body;
	border: 1px solid $primary-red;
	color: $primary-grey;
	&:hover{
		background: $primary-red;
		color: $color__text-button; 
	}
	&:visited{
		background: $color__background-body;
		border: 1px solid $primary-red;
		color: $primary-grey;
	}
}

/* Button / Tertiary */
.button__tertiary{
	background: $primary-alt;
	color: $primary-red;
	border: 1px solid transparent;
	&:hover{
		background: $primary-purple;
		color: 	$primary-alt;
	}
	&:visited{
		background: $primary-alt;
		color: $primary-red;
		border: 1px solid transparent;	
	}

}
@media screen and (max-width: 768px) {
	button, .button{
		font-size: 13px;
		line-height: 18px;
	}
}
