/* Filter */
.filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 14px;
    position: relative;
    background: $color__background-body;
    border-radius: 10px;
    span{
        font-family: $font__body;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        text-align: center;
        color: $color__text-main;
        margin: 0px 42px;
    }
    &::after{
        content: '';
        position: absolute;
        background: url(./img/icons/arrow-down.png);
        width: 14px;
        height: 9px;
        top: 10px;
        right: 29px;
    }
}
