.header__gradient, .gradient{
    &--purple{
        background-color: $primary-red;
        background: $gradient;
    }
    &--yellow{
        background-color: $secondary-yellow;
        background: $gradient-yellow;
    }
}
.background{
    &__grey{
        background-color: $secondary-grey;
    }    
    &__grey-blue{
        background-color: $secondary-grey-blue;
    }
}
