hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
.line__top--purple{
    margin-top: 0;
    padding-top: 26px;
    border-top: 2px solid $primary-purple;
}
.line__bottom--purple{
    border-bottom: 2px solid $primary-purple;
    padding-bottom: 16px;
}
.line__bottom--yellow{
    border-bottom: 2px solid $secondary-yellow;
    padding-bottom: 16px;

}
.line__bottom--green{
    border-bottom: 2px solid $tertiary-green;
    padding-bottom: 16px;
}
.simple-post{
    .line__bottom--purple,
    .line__bottom--yellow,
    .line__bottom--green{
        padding-bottom: 14px;

    }
}
