.search__icon--big{
    background: url(/img/search-big-mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 238px;
    height: 207px;
    margin: auto;
    top: 0px;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media screen and (min-width: 999px) {

    .search__icon--big{
        background: url(/img/search-big.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 884px;
        height: 758px;
        top: 60px;
        left: 0;
        right: auto;
    }
    .search__icon--medium{
        background: url(/img/search-medium.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 323px;
        height: 277px;
        top: 0;
        left: 20%;
        bottom: 0;
        margin: auto;
        z-index: -1;
    }
}
/*    Post Icons       */
.post-icon{
    position: absolute;
    display: block;
    bottom: 16px;
    right: 31px;
    width: 66px;
    height: 66px;
    background: #6D2962;
    border-radius: 50%;
    overflow: hidden;
    img{
        max-width: 75%;   
        max-height: 75%;
        height: auto;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
}
@media screen and (min-width: 768px) {

    .post-icon{
        position: absolute;
        display: block;
        bottom: 42px;
        width: 135px;
        height: 135px;
    }
}
.icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}
.icon-date{
    background: url(/img/icons/calendar.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 26px;
}
.icon-time{
    background: url(/img/icons/timing.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
}
.icon-pencil{
    background: url(/img/icons/pencil.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 37px;
    height: 24px;
}
.icon-free{
    background: url(/img/icons/free.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
}
.icon-online{
    background: url(/img/icons/online.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
}