/* Category tag stand alone */
.tag{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: $font__body;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 8px 11px;
    margin: 0px 10px;
    text-decoration: none;
    a{
        text-decoration: none;
    }
}

/* Tag White */
.tag--white{
    color: $primary-grey;
    background: $color__text-button;
    border-radius: 8px;
    margin: 0;
}
/* Tag White */
.tag--dark{
    color: $color__text-button!important;
    background: $primary-grey;
    border-radius: 8px;
    margin: 0;
}

/* Category tag */
.tag__category{
    color: $primary-purple;
    background: $color__background-body;
    box-shadow: 4px -2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 0px 0px;
    min-width: 112px;
}
.tag__category--line{
    color: $primary-purple;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: -10px;
        right: -10px;
        bottom: -2px;
        width: calc(100% + 20px);
        opacity: 0.5;
        height: 2px;
        background-color: $primary-purple;
    }

}

@media screen and (max-width: 768px) {

    .tag{
        font-size: 12px;
    }
    .icon-label{
        font-size: 13px;
    }
}