p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
}

abbr,
acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
.center{
	text-align: center;
}
.block{
	display: block;
	padding-bottom: 0.25em;
}
.pt0{
	padding-top: 0!important;			
}
.space-large{
	margin-top: 60px;//!important;
	padding: 54px 0 60px!important;
}
.space-medium{
	margin-top: 24px!important;
//	margin-bottom: 27px!important;
}
.space-small{
	margin-top: 13px!important;
//s	margin-bottom: 27px!important;

}
@media screen and (max-width: 768px) {

	.space-large{
		padding: 25px 0!important;
	}
}