h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1, .h1{
	font-family: $font__default;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: $color__text-heading;
}

h2, .h2{
	font-family: $font__default;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: $color__text-main;
}
h2.post__title,
.h2.post__title{
    font-size: 26px!important;
    line-height: 31px!important;
}
h2.sub__title,
.sub__title{
	padding-top: 1rem;
    font-size: 18px!important;
    line-height: 21px!important;
}

h3, .h3{
	font-family: $font__default;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: $color__text-main;
}
.cta__title{
	font-family: $font__default;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: $color__text-heading;;
}

/* Sub page heading */
.simple__title{
	font-family: $font__default;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: $color__text-main;

}
/* Quotation */
.quotation{
	font-family: $font__body;
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4em;
	color: $color__text-main;
	max-width: 794px;
	width: 100%;
}
.text-white{
    color: $color__text_alt!important;
}
@media screen and (min-width: 1200px) {

	h1, .h1{
		font-size: 55px;
		line-height: 66px;
	}	

	.simple__title{
		font-size: 45px;
		line-height: 54px;
		margin: 14px 0 16px;

	}
	.simple .simple__title{
		margin: 15px 22px 0;
	}


	.quotation{
		font-size: 18px;
	}
}
@media screen and (max-width: 768px) {
	h2, .h2{
		font-size: 20px;
		line-height: 24px;
	}
}