
.page{
    &__wrapper{
        max-width: 1440px;
        width: 100%;
        margin: auto;
        display: flex;
        height: 100vh;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        align-content: flex-start;
    }
    &__header {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    &__content{
        margin-bottom: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;

    }
}
.container{
    position: relative;
}
main.content {
    max-width: 740px;
    width: 100%;
    margin-right: auto;
}
.sidebar {
    max-width: 360px;
    width: 100%;
}

.content{
    &__title{
        h2{
            padding-bottom: 13px;
            margin-bottom: 13px;
        }
        &--featured h2, &--lastnews h2{
            border-bottom: 2px solid $primary-purple;
        }
        &--events h2{
            border-bottom: 2px solid $secondary-yellow;
        }

        &--resources h2{
            border-bottom: 2px solid $tertiary-green;
        }
    }
    &__desc{
        font-family: $font__body;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4em;
        color: $color__text-main;
        &--lastnews{
            max-width: 793px;
            width: 100%;
            margin: auto;
            text-align: center;

        }
    }
    &--wrapper{
        max-width: 1140px;
        width: 100%;
        margin: auto;
    }
    &--center{
        margin: auto;
        text-align: center;
    }

}


/*     Section Default     */
section{
    max-width: 100%;
    width: 100%;
    padding-top: 23px;

}  
// .section__header, .section__content, *{
//     color: $color__text-main;
// }

.section{
    &__default{
        margin-top: 60px;
        padding: 8px 0 36px;
        width: 100%;
        color: $color__text-main;
        background: $secondary-grey-blue;
        position: relative;
        // .section__header, .section__content, *{
        //     color: $color__text-main;
        // }
        &--purple{
            background-color: $primary-purple;
            padding: 54px 0 50px;
            // .section__header, .section__content, *{
            //     color: $color__text_alt;
            // }
        
            .button:hover{
                background: $color__text_alt;
                color: $primary-red;
                border: 1px solid transparent;
            }
        }
        
        &--gradient{
            background: $gradient;
            z-index: -1;
            // .section__header, .section__content, *{
            //     color: $color__text_alt;
            // }
        }
    }
    &__header h2 {
        margin-bottom: 0;
    }
    &__content{
        margin-top: 24px;
        font-family: $font__body;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
    }
    &__footer{
        padding-top: 24px;

    }
}
.section--purple{
    background-color: $primary-purple;
    .section__header, .section__content, *{
        color: $color__text_alt;
    }
}
.section--gradient{
    background: $gradient;
    z-index: -1;
    .section__header, .section__content, *{
        color: $color__text_alt;
    }
}
.section{
    &__cta{
        min-height: 173px;

        &:before{
            content:'';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: url(/img/icons/section-arrow.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 296px;
            z-index: 0;
        }

    }
    &__cta-big{
        min-height: 304px;
    }

    &__cta-small{
        position: relative;
        min-height: 173px;
        z-index: 100;   
                .search__wrapper{
            margin: auto;
        }
        .section__content{
            padding-top: 0;
        }
    }

    &__resources{
        padding-top: 34px;
        padding-bottom: 20px;
    }

}


@import "section/header";
@import "section/posts";
@import "section/filters";
@import "section/carusel";

.featured__news{
    padding-top: 0;
}
section.resources {
    overflow: hidden;
}
#resources-owl{
    padding-top: 43px;
    .carousel-item-wrapper {
        max-width: 284px;
        margin: auto;
        
    }
}
.h2.line__bottom--purple {
    margin-top: 0; 
}
@media screen and (min-width: 640px) {
    section{
        padding-top: 32px;
    }
    .content__title h2{
        padding-bottom: 15px;
        margin-bottom: 16px;
    }
    .carousel-item {
        padding-right: 18px;
    }
    .line__top--purple{
        margin-top: 28px;
        padding-top: 40px;
    }
    section.section__lastnews {
        padding-top: 52px;
    }

}
@media screen and (min-width: 1240px) {
    ul.post-small__listing.post-small__listing--colored{
        &>li:nth-last-child(-n+3) {
            margin-bottom: 0!important;
        }
    }
    .content__desc{
        font-size: 15px;
    }
    #resources-owl{
        .slick-list {
            overflow: visible;
        }
        .slick-list.draggable:after {
            content: '';
            position: absolute;
            background: $color__background-body;
            width: 100%;
            height: 100%;
            top: 0;
            right: 100%;
            bottom: 0;
        }
        .carousel-item-wrapper {
            margin: 0;
        }
        .post-caroucel__excerpt{
            font-size: 15px;
        }
    }
}


@import "section/page_simple";

@import "section/footer";