.header__nav .search__wrapper{
    overflow-x: hidden;
}
.search{
    
    display: flex;
    align-items: center;
    flex-direction: row;
    
    &__wrapper{
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
        max-width: 343px;
        width: 100%;
        display: block;
        z-index: 1;
        position: relative;
    }
    &__group {
        display: flex;
        flex-direction: row;
        margin: auto 45px auto 55px;
        justify-items: flex-end;
        align-items: center;
    }
    &--hide{
        width: 0;
        opacity: 0;
        transition: all 0.3s;
        
    }
    &--show{
        width: 100%;
        opacity: 1;
        transition: all 0.3s;
    }
    &__form{
        background: $color__background-body;
        border-radius: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
        padding-left: 20px;
        height: 50px;
        width: 100%;
    }
    &__icon{
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        cursor: pointer;
        background-image: url(/img/icons/glass.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__text{
        font-family: $font__body;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.4em;
        color: $primary-grey;
        margin-left: 28px;
        min-width: 145px;
        border: transparent!important;
    }
    &__button {
        margin-left: auto;

    }
    &__advance{
        font-family: $font__body;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        min-width: 120px;
        text-align: right;
        margin-top: 8px;
        color: $color__text-button;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        &--wrapper{
            max-width: 500px;
            width: 100%;
            position: relative;
        }
        &.position-left {
            justify-content: flex-start;
            margin-left: 10px;
            margin-top: 0;
 
        }
    }
    &__options {
        position: absolute;
        background: #fff;
        border-radius: 10px;
        margin-top: 30px;
        padding: 20px 0 5px;
        z-index: 10;
        width: auto;
        display: none;
    }
}
.simple__heading--search .search__options {
    margin-top: 10px;
}
.options{
    &__list{
        list-style: none;
        margin: 0 20px;
        padding: 0;
    }
    &__item{
        padding: 3px 0;
        label{
            margin-left: 10px;
        }    
    }

}
@media screen and (max-width: 640px) {
    .search{
        flex-wrap: wrap;
        &__advance{
            justify-content: flex-end;
        }
    }
    
}