.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {		
				text-decoration: none;
				font-family: $font__body;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 20px;
				color: $primary-grey;
				transition: all 0.3s;
				width: 200px;
			}

			&:hover > a,
			.focus > a {
				color: $primary-red;
				transition: all 0.3s;
			}

			a:hover,
			a.focus {
				color: $primary-red;
				transition: all 0.3s;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $primary-red;
			transition: all 0.3s;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

// /* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }


	.menu-toggle {
		display: none;
	}

	// .main-navigation ul {
	// 	display: flex;
	// }


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

/**********    Mobile Menu      ***********/
.mobile__menu{
	display: none;
    justify-content: center;
    align-items: center;
	width: 58px;
	height: 75px;
	position: relative;
	&--icon{
		width: 30px;
		height: 30px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		display: block;
	}

	&:before{
		content: '';
		position: absolute;
		background: #F2F4F9;
		width: 100%;
		height: 75px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transition: all 0.3s;
	}
}
.mobile__menu--icon.open{
	background: url(/img/icons/mob-close.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.mobile__menu--icon{
	background: url(/img/icons/bars.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.menu-toggle ~ .mobile__menu{
	background: transparent;
	display: flex;
}
.menu-toggle ~ .mobile__menu::before{
	background: transparent;
}


/**********     Menu Desktop        ***********/

.menu{
	&-list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		li{
			margin: 0 30px;

			a{
				text-decoration: none;
				font-family: $font__body;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 20px;
				color: $primary-grey;
				transition: all 0.3s;
				&:hover{
					color: $primary-red;
					transition: all 0.3s;
				}
			}
		}
		li:first-child{
			margin-left: 0;
		}

		
		&-footer{
			padding-top: 18px;
			padding-bottom: 15px;
			li{
				margin: 0;
				border-left: 1px solid $color__text_alt;
				a{
					font-family: $font__body;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 19px;
					color: $color__text_alt;
					padding: 0 10px;
				}
			}
			li:first-child{
				border-left: 1px solid transparent;
				a{
					padding-left: 0;
				}
			}
		}
		ul{
			display: none;
		}
	}
}

nav.menu-toggle + .mobile__menu--icon {
    background: #000;
    width: 58px;
    height: 75px;
    display: block;
}


@media screen and (max-width: 1200px) {
	.header__top{
		height: 75px;
	}
	.menu-container {
		position: absolute;
		width: 100vw;
		background: #F2F4F9;
		top: 75px;
		left: 0;
		height: 100vh;
		bottom: 0;
		right: 0;
		padding: 22px 32px;
		transition: all 0.5s;
		.menu-list {
			flex-direction: column;
			width: 100%;
			justify-content: flex-start;
		}
		&>li:first-child {
			border-top: 1px solid transparent;
		}
		li {
			text-align: left;
			width: 100%;
			display: block;
			margin: 0;
			padding: 0px;
			border-top: 1px solid #C9C9C9;
			a{
				color: #000;
				font-weight: 700;
				font-size: 14px;
				line-height: 19px;
				padding: 12px 0 13px; 
				display: block;
				cursor: pointer;
			}
			ul{
				list-style: none;
				margin: 0;
				margin-left: 18px;
				padding: 0;
				li{
					a{
						font-weight: 400;
					}
				}
			}
		}
	}
}