<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-8 col-lg-4">
                <div class="footer__logo">
                    <a href="/" class="logo" title="The ITAM Review">
                        <img src="/img/logo/logo-dark@1x.png" alt="The ITAM Review" />
                    </a>
                </div>
                <div class="footer__desc">
                    News, reviews and resources for worldwide ITAM, SAM and Licensing professionals. The latest news, reviews and resources within the IT asset management market.
                </div>
                <div class="footer__menu">
                    <ul class="menu-list menu-list-footer">
                        <li><a href="/about" class="menu-link">About</a></li>
                        <li><a href="/careers" class="menu-link">Careers</a></li>
                        <li><a href="/contact" class="menu-link">Contact</a></li>
                    </ul>
                </div>
            </div>            
            <div class="col-8 col-lg-4">
                <div class="footer__info">
                    <div class="footer__address">
                        Unit 5, The Workshed, <br>
                        London Street, Swindon <br>
                        Wiltshire, SN1 5DG <br>
                        United Kingdom
                    </div>
                    <div class="footer__phone">
                        <a href="tel:4408451303166" class="phone__link">+44 (0) 845 130 3166 </a>
                    </div>
                    <div class="footer__email">
                        <a href="mailto:support@itassetmanagement.net" class="phone__email">support@itassetmanagement.net</a>
                    </div>
                    <div class="footer__social">
                        <ul class="social__list">
                            <li class="social__item"><a href="/twitter" class="social__link"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li class="social__item"><a href="/linkid" class="social__link"><i class="fa-brands fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-md-4">
                <div class="copyright">© Copyright 2008-2022 Enterprise Opinions Ltd. All rights reserved. <br>
                     Privacy policy. Terms & conditions.
                </div>
            </div>
        </div>
    </div>

</footer>