<header class="page__header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-5 col-md-2">
                    <div class="header__logo">
                        <a href="/" class="logo" title="The ITAM Review">
                            <img src="/img/logo/logo@1x.png" alt="The ITAM Review" />
                        </a>
                    </div>                
                </div>
                <div class="col-3 col-md-6">   
                    <div class="header__nav">
                        <nav class="menu-container menu-toggle d-xl-block">
                            <ul class="menu-list">
                                <li>
                                    <a href="/news" class="menu-link">News</a>
                                </li>                
                                <li>
                                    <a href="/events" class="menu-link">Events</a>
                                </li>                
                                <li>
                                    <a href="/resources" class="menu-link">Resources</a>
                                </li>                
                                <li>
                                    <a href="/services" class="menu-link">Services</a>
                                    <ul>
                                        <li>
                                            <a href="/sub-page">Sub page title goes here</a>
                                        </li>
                                        <li>
                                            <a href="/sub-page">Sub page title goes here</a>
                                        </li>                                        
                                        <li>
                                            <a href="/sub-page">Sub page title goes here</a>
                                        </li>                                        
                                        <li>
                                            <a href="/sub-page">Sub page title goes here</a>
                                        </li>                                    
                                    </ul>
                                </li>                
                                <li>
                                    <a href="marketplace" class="menu-link">Marketplace</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="header__search">
                            <div class="search__group">
                                <div class="search__wrapper search--hide">
                                    <form action="search">
                                        <div class="search__form">
                                            <span class="search__icon search__icon--btn"></span>
                                            <input type="text" name="s"  class="form-control search__text" placeholder="Search our database" />
                                            <span class="search__button">
                                                <input type="submit" class="button" value="Search"/>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <span class="search__icon search__icon--btn"></span>
                            </div>
                        </div>
                        <div class="header__subscribe d-none d-xl-block">
                            <a href="/subscribe" class="button">Subscribe</a>
                        </div>
                        <div class="mobile__menu d-block d-xl-none">
                            <span class="mobile__menu--icon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__simple header__small header__gradient--yellow">
        <div class="container">

            <div class="row">
                <div class="simple__heading col-8 col-md-5">
                    <h1 class="simple__title">Events</h1>
                    <div class="simple__heading--body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                    </div>
                    <div class="simple__heading--buttons">
                        <a href="#" class="button button__tertiary">View all Wisdom events</a>
                        <a href="#" class="button button__tertiary">View all webinars</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>