$color__background-screen: #F2F4F9;
$color__background-hr: #ADADAD;
$color__background-button: #e6e6e6;
$color__background-pre: #ADADAD;
$color__background-ins: #F2F4F9;

$color__text-screen: #25B7F5;
$color__text-input: #333333;;
$color__text-input-focus: #333333;;
$color__link: #E42140;; //royalblue
$color__link-visited: #6C2C85;; //purple
$color__link-hover: #E42140;; //midnightblue
$color__text-main: #000000;
$color__text-heading: #ffffff;
$color__text-button: #ffffff;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ADADAD;
$color__border-abbr: #6F7287;

$color__background-body: #ffffff;
$color__text-main: #000000;
$color__text-heading: #ffffff;
$color__text-button: #ffffff;
$color__text_alt: #ffffff;

$primary-red: #E42140;
$primary-alt: #ffffff;

$primary-purple: #6C2C85;
$primary-grey: #333333;

$secondary-yellow: #FEA305;
$secondary-blue: #25B7F5;
$secondary-grey-blue: #F2F4F9;
$secondary-grey: #ADADAD;
$secondary-blue-grey: #6F7287;

$tertiary-orange: #FF5C00; 
$tertiary-green: #287D00; 

$gradient: linear-gradient(90deg, #E42140 0%, #6C2C85 100%);
$gradient-yellow: linear-gradient(270deg, #E42140 0%, #FEA305 34.37%);

// $font__body: "Nunito Sans", sans-serif;
// $font__default: "Urbanist", sans-serif;