{% set title = "content-page Simple post" %}
{% set bodyClass = "simple" %}

{% extends "_html/_base/_layouts/_content-page.html" %}

{% block content %}
    <div class="page__content" id="site">
        <section class="quotation__wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="quotation__content">
                            I am excited to announce my appointment as editor of The ITAM Review. Those of you who already know me may be surprised to see me this side of the editor’s desk. I am joining The ITAM Review from the PR side – or “The Dark Side” – as some would say. In fact, I’ve been pitching my clients to Martin for over a decade now, so to say it feels odd to be the one receiving pitches for a change is an understatement.
                        </div>
                        <div class="quotation__info">
                            <div class="info__date">
                                <i class="icon icon-date"></i><span class="icon-label">04 February 2022</span>
                            </div>
                            <div class="info__time">
                                <i class="icon icon-time"></i><span class="icon-label">1 minute read</span>
                            </div>
                            <div class="info__author">
                                <i class="icon icon-pencil"></i><span class="icon-label">George Wright</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="simple-post">
            <div class="container ">
                <div class="row line__top--purple">
                    <main class="content simple-post__main">
                        <div class="simple-post__entries">
                            <div class="post-entries__header">
                                <p>Having worked with a wide range of different B2B technology companies over the years –  from software companies to consultancies, telcos and more – I can’t think of a time when I haven’t been working with the ITAM sector in some way or another.</p>
                            </div>
                            <div class="post-entries__body">
                                <img src="img/post-simple.jpg" alt="post-img" class="post-entries__pic float-right" />
                                <p>I am working as editor on a part-time basis, while continuing to run my PR agency, Spartan PR, for the other half of the week. Outside of these roles, my other interests are property development, cycling, running and gaming. Recently I’ve also become a dab hand at DIY, having completed the bulk of our basement conversion myself. I’d happily speak at length about any of these topics, so it’s best not to bring them up in conversation if you value your time... <br>
                                    <p> have three children, a dog, a cockatiel, as well as the occasional weird “pet”; the most recent being a rather plump and clumsy wood pigeon called Pedro who spent a few happy months sitting above the kitchen cupboards, and occasionally dive bombing you whenever it felt like it. You can ask my wife for more details as to how that came about. I’m still at a loss...</p>
                                </p>
                                <p>
                                    I am working as editor on a part-time basis, while continuing to run my PR agency, Spartan PR, for the other half of the week. Outside of these roles, my other interests are property development, cycling, running and gaming. Recently I’ve also become a dab hand at DIY, having completed the bulk of our basement conversion myself. I’d happily speak at length about any of these topics, so it’s best not to bring them up in conversation if you value your time...
                                </p>
                                <img src="img/post-simple2.jpg" alt="post-img" class="post-entries__pic w100" />
                                <p>I have three children, a dog, a cockatiel, as well as the occasional weird “pet”; the most recent being a rather plump and clumsy wood pigeon called Pedro who spent a few happy months sitting above the kitchen cupboards, and occasionally dive bombing you whenever it felt like it. You can ask my wife for more details as to how that came about. I’m still at a loss...</p>
                                <div class="quotation quotation-grey-blue quotation-icon">
                                    “I have three children, a dog, a cockatiel, as well as the occasional weird “pet”; the most recent being a rather plump and clumsy wood pigeon called Pedro.”
                                </div>
                            </div>
                            <div class="post-entries__footer">
                                <p>I’m looking forward to getting to know our readers and to play my part in supporting and growing the fantastic resource that The ITAM Review is to so many. <br>
                                    Please feel free to connect with me on LinkedIn or email me at <a href="george.wright@itassetmanagement.net.">george.wright@itassetmanagement.net.</a> </p>
                            </div>                    
                        </div>
                    </main>
                    <sidebar class="sidebar simple-post__sidebar d-none d-lg-block">
                        <div class="widjet-category__post">
                            <div class="widjet__header widjet__line--yellow">
                                <div class="widjet__title">
                                    <h2 class="h2">More from *category*</h2>
                                </div>
                                <div class="widjet__decs">
                                    Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Read the latest news.
                                </div>
                            </div>
                            <ul class="post-small__listing post-small__listing--simple">
                                <li class="post__item">
                                    <h3 class="post__title">
                                        Lorem ipsum dolor sit amet
                                    </h3>
                                    <div class="post__excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                </li>                                    
                                <li class="post__item">
                                    <h3 class="post__title">
                                        Lorem ipsum dolor sit amet
                                    </h3>
                                    <div class="post__excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                </li>                                    
                                <li class="post__item">
                                    <h3 class="post__title">
                                        Lorem ipsum dolor sit amet
                                    </h3>
                                    <div class="post__excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                </li>
                            </ul>
                            <div class="post__colored post__colored--small post__colored--secondary">
                                <div class="post__colored--wrapper">
                                    <h2 class="post__title text-white">
                                        Lorem ipsum dolor sit amet
                                    </h2>
                                    <div class="post__excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                    <div class="post__btn">
                                        <a href="#" class="button button__tertiary">Primary CTA</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </sidebar>
                </div>
            </div>
        </section>
        <section class="dropdown-options section__default">
            <div class="container">
                <div class="row">
                    <h2 class="h2">Dropdown options</h2>
                </div>
                <div class="dropdown-options__wrapper">
                    <ul class="dropdown-options__list">
                        <li class="dropdown-options__item ">
                            <div class="item">1.</div>
                            <div class="item-text">
                                <strong class="block">Lorum ipsum dolar sit </strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                            </div>
                       </li>
                       <li class="dropdown-options__item ">
                            <div class="item">2.</div>
                            <div class="item-text">
                                <strong class="block">Lorum ipsum dolar sit </strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                            </div>
                    </li>
                    <li class="dropdown-options__item ">
                            <div class="item">3.</div>
                            <div class="item-text">
                                <strong class="block">Lorum ipsum dolar sit </strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                            </div>
                    </li>
                    <li class="dropdown-options__item open">
                        <div class="item">4.</div>
                        <div class="item-text">
                            <strong class="block">Lorum ipsum dolar sit </strong>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                        </div>
                    </li>
                    <li class="dropdown-options__item ">
                        <div class="item">5.</div>
                        <div class="item-text">
                            <strong class="block">Lorum ipsum dolar sit </strong>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                        </div>
                    </li>
                </ul>
            </div>
       </section>
        <section class="section__lastnews">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="content__title content--wrapper content--center">
                            <h2 class="h2 line__bottom--purple">Latest news & events</h2>
                        </div>
                        <div class="content__desc  content__desc--lastnews">
                            The latest news, reviews and resources within the IT asset management market. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Read the latest news.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 content--wrapper content--center">
                        <ul id="lastnews-owl" class="post-medium__listing ">
                            <li class="post__item">
                                <div class="post__item--wrapper post__item--center">
                                    <div class="post__img--wraper">
                                        <img src="img/carusel/carusel-medium-1.jpg" alt="carusel-medium 1">
                                    </div>
                                    <h3 class="post__title">
                                        Lorem ipsum dolor sit amet
                                    </h3>
                                    <div class="post__excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                    <div class="post__btn">
                                        <a href="#" class="button button__secondary">Secondary CTA</a>
                                    </div>
                                </div>
                            </li>
                            <li class="post__item">
                                <div class="post__item--wrapper post__item--center">
                                    <div class="post__img--wraper">
                                        <img src="img/carusel/carusel-medium-2.jpg" alt="carusel-medium 2">
                                    </div>
                                    <h3 class="post__title">
                                        Lorem ipsum dolor sit amet
                                    </h3>
                                    <div class="post__excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                    <div class="post__btn">
                                        <a href="#" class="button button__secondary">Secondary CTA</a>
                                    </div>
                                </div>
                            </li>
                            <li class="post__item">
                                <div class="post__item--wrapper post__item--center">
                                    <div class="post__img--wraper">
                                        <img src="img/carusel/carusel-medium-3.jpg" alt="carusel-medium 3">
                                    </div>
                                    <h3 class="post__title">
                                        Lorem ipsum dolor sit amet
                                    </h3>
                                    <div class="post__excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                    <div class="post__btn">
                                        <a href="#" class="button button__secondary">Secondary CTA</a>
                                    </div>
                                </div>
                            </li>
                        </ul>                                                        
                    </div>
                </div>
            </div>
        </section>
        <section class="section__cta-small section__default section__default--gradient center ">
            <div class="search__icon--medium"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="section__wrapper">
                            <div class="section__header">
                                <h2 class="h2 text-white">Can’t find what you’re looking for?</h2>
                            </div>
                            <div class="section__content section__content--search">
                                <div class="search__wrapper">
                                    <form action="search">
                                        <div class="search__form">
                                            <span class="search__icon"></span>
                                            <input type="text" name="s" class="form-control search__text" placeholder="Search our database" />
                                            <span class="search__button">
                                                <input type="submit" class="button" value="Search"/>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}