{% set title = "Events Llisting" %}
{% set bodyClass = "events-listing" %}

{% extends "_html/_base/_layouts/_events-listing.html" %}

{% block content %}
    <div class="page__content" id="site">
        <div class="container">
            <div class="row">
                    <section class="featured featured__events">
                        <div class="content__title ">
                            <h2 class="h2 line__bottom--yellow">Featured events</h2>
                        </div>
                        <div class="content__desc content__desc--featured col-md-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                        <div class="post-default__wrapper">
                            <ul class="post-default__listing post-large__listing">
                                <li class="post__item">
                                    <div class="post__img--wrapper">
                                        <img src="img/post/post-1.jpg" alt="news post 1">
                                        <a href="/category" class="tag tag__category">CONFERENCE</a>
                                    </div>
                                    <div class="post__overlay--body">
                                        <h2 class="post__title text-white">
                                            Lorem ipsum dolor sit amet
                                        </h2>
                                        <div class="post__excerpt text-white">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </div>
                                        <div class="post__btn">
                                            <a href="#" class="button button__tertiary">Primary CTA</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="post__item">
                                    <div class="post__img--wrapper">
                                        <img src="img/post/post-2.jpg" alt="news post 2">
                                        <a href="/category" class="tag tag__category">WEBINAR</a>
                                    </div>
                                    <div class="post__overlay--body">
                                        <h2 class="post__title text-white">
                                            Lorem ipsum dolor sit amet
                                        </h2>
                                        <div class="post__excerpt text-white">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </div>
                                        <div class="post__btn">
                                            <a href="#" class="button button__tertiary">Primary CTA</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
            </div>
        </div>

        <section class="section__lastnews">
            <div class="container">
                <div class="row ">
                    <div class="col-8">
                        <div class="content__title content--wrapper content--center">
                            <h2 class="h2 line__bottom--purple">Search all conferences & webinars</h2>
                        </div>
                        <div class="content__desc col-8 col-md-5 content--center">
                            The latest news, reviews and resources within the IT asset management market. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="filters">
                            <div class="filters__options">
                                <div class="options__warapper d-none d-md-flex">
                                    <ul class="options__list">
                                        <li class="options__item">
                                            <select name="" id="">
                                                <option value="">Filter goes here</option>
                                            </select>
                                        </li>
                                        <li class="options__item">
                                            <select name="" id="">
                                                <option value="">Filter goes here</option>
                                            </select>
                                        </li>
                                        <li class="options__item">
                                            <select name="" id="">
                                                <option value="">Filter goes here</option>
                                            </select>
                                        </li>
                                        <li class="options__item">
                                            <select name="" id="">
                                                <option value="">Filter goes here</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <div class="filters__btn">
                                        <a href="/" class="">Clear all filters</a>
                                    </div>
                                </div>
                                <div class="filters__active">Filter results</div>
                            </div>
                            <div class="filters__wrapper">
                                <ul class="post-small__listing">
                                    <li class="post__item background__grey-blue">
                                        <div class="post__item--wrapper">
                                            <div class="post__img--wraper">
                                                <img src="img/carusel/carusel-1.jpg" alt="news post 1">
                                            </div>
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button">Primary CTA</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="post__item background__grey-blue">
                                        <div class="post__item--wrapper">
                                            <div class="post__img--wraper">
                                                <img src="img/carusel/carusel-2.jpg" alt="news post 2">
                                            </div>
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt ">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button">Primary CTA</a>
                                            </div>
                                        </div>
                                    </li>
                                                                                                                              
                                    <li class="post__item background__grey-blue">
                                        <div class="post__item--wrapper">
                                            <div class="post__img--wraper">
                                                <img src="img/carusel/carusel-3.jpg" alt="news post 3">
                                            </div>
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt ">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button">Primary CTA</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="post__item background__grey-blue">
                                        <div class="post__item--wrapper">
                                            <div class="post__img--wraper">
                                                <img src="img/carusel/carusel-4.jpg" alt="news post 4">
                                            </div>
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt ">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button">Primary CTA</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="post__item background__grey-blue">
                                        <div class="post__item--wrapper">
                                            <div class="post__img--wraper">
                                                <img src="img/carusel/carusel-1.jpg" alt="news post 1">
                                            </div>
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt ">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button">Primary CTA</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="post__item background__grey-blue">
                                        <div class="post__item--wrapper">
                                            <div class="post__img--wraper">
                                                <img src="img/carusel/carusel-2.jpg" alt="news post 2">
                                            </div>
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt ">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button">Primary CTA</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="post__item background__grey-blue">
                                        <div class="post__item--wrapper">
                                            <div class="post__img--wraper">
                                                <img src="img/carusel/carusel-3.jpg" alt="news post 3">
                                            </div>
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt ">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button">Primary CTA</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="post__item background__grey-blue">
                                        <div class="post__item--wrapper">
                                            <div class="post__img--wraper">
                                                <img src="img/carusel/carusel-4.jpg" alt="news post 4">
                                            </div>
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt ">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button">Primary CTA</a>
                                            </div>
                                        </div>
                                    </li>
                
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section__cta section__default section__default--purple center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-7 col-sm-6 col-md-5">
                        <div class="section__header">
                            <div class="cta__title">The ITAM Marketplace</div>
                        </div>  
                        <div class="section__content text-white">
                            Marketplace provides expert analysis and customer reviews for IT & Software Asset tools and services. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>  
                        <div class="section__footer">
                            <a href="#" class="button">Primary CTA</a>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}