{% set title = "content-page Simple post" %}
{% set bodyClass = "simple" %}

{% extends "_html/_base/_layouts/_events-page.html" %}

{% block content %}
    <div class="page__content" id="site">
        <section class="quotation__wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="quotation__content">
                            Join the ITAM Review on Thursday 17th February 2022 at 2pm GMT as we discuss how these organisations fared in 2021 and what to expect from them in 2022 – including audits, product focus areas, licensing and more. Several key software vendors will close their financial years towards the end of 2021.
                        </div>
                        <div class="quotation__info">
                            <div class="info__date">
                                <i class="icon icon-date"></i><span class="icon-label">04 February 2022</span>
                            </div>
                            <div class="info__free">
                                <i class="icon icon-free"></i><span class="icon-label">Free</span>
                            </div>
                            <div class="info__online">
                                <i class="icon icon-online"></i><span class="icon-label">Online</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="simple-post">
            <div class="simple-post__entries">
                <div class="post-entries__header background__yellow opacity-20">
                    <div class="container">
                        <div class="row">
                            <div class="anchor__links--wrapper">
                                <ul class="anchor__list">
                                    <li class="anchor__item"><a class="button" href="#">Register now</a></li>
                                    <li class="anchor__item"><a class="anchor__item--link active" href="#about">About</a></li>
                                    <li class="anchor__item"><a class="anchor__item--link" href="#agenda">Agenda</a></li>
                                    <li class="anchor__item"><a class="anchor__item--link" href="#speakers">Speakers</a></li>
                                    <li class="anchor__item"><a class="anchor__item--link" href="#sponsors">Sponsors</a></li>
                                    <li class="anchor__item"><a class="anchor__item--link" href="#venue">Venue</a></li>
                                    <li class="anchor__item"><a class="anchor__item--link" href="#testimonials">Testimonials</a></li>
                                </ul>
                            </div>
                        </div>                            
                    </div>
                </div>
                <div class="post-entries__body post-entries__anchor">
                    <div id="about" class="anchor__content">
                        <div class="container">
                            <div class="row">  
                                <div class="anchor__content--title">
                                    <h2 class="h2 line__bottom--yellow">About</h2>
                                </div>
                                <div class="anchor__content--body">
                                    <p>Several key software vendors will close their financial years towards the end of 2021 including:</p>
                                    <ul>
                                        <li>IBM</li>
                                        <li>Amazon</li>
                                        <li>Google</li>
                                        <li>Micro Focus</li>
                                        <li>SAP</li>
                                    </ul>
                                    <p>Join the ITAM Review on Thursday 17th February 2022 at 2pm GMT as we discuss how these organisations fared in 2021 and what to expect from them in 2022 - including audits, product focus areas, licensing and more.</p>
                                    <p>Knowing where they are coming from, and going to, will help you - and other internal stakeholders such as procurement and finance - best understand any risks and successfully manage the relationship for another year.</p>

                                    <p>The Online Summit will also feature relevant sessions from a range of our partners, </p>
                                    <p>
                                    etc....
                                    </p>

                                    <h3>Who should attend?</h3>

                                    <ul>
                                        <li>SAM & ITAM professionals</li>
                                        <li>Procurement professionals</li>
                                        <li>Finance professionals</li>
                                        <li>Vendor management professionals</li>
                                        <li>CIO</li>
                                    </ul>
                                    <h3>Why should you attend?</h3>
                                    <ul>
                                        <li>Cost - This Webinar is FREE.</li>
                                        <li>Convenience - You can participate in the webinar from a location of your choosing. No travelling/travel costs involved.</li>
                                        <li>Interaction - You have the opportunity to communicate and ask questions with the presenter and peers</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="agenda" class="anchor__content">
                        <div class="container">
                            <div class="row">  
                                <div class="anchor__content--title">
                                    <h2 class="h2 line__bottom--yellow">Agenda</h2>
                                </div>
                                <div class="anchor__content--body">
                                    <div class="post-entries__table">
                                        <table class="tabs__list background__yellow opacity-20">
                                            <tr class="">
                                                <td><a class="active" href="#day-1">Day 1</a></td>
                                                <td><a href="#day-2">Day 2</a></td>
                                                <td><a href="#day-3">Day 3</a></td>
                                                <td width="auto"></td>
                                            </tr>
                                        </table>
                                        <table class="tabs__content">
                                            <tr>
                                                <td>14:00 - 14:15</td>
                                                <td><strong>Welcome & Introduction</strong> <br>Rich Gibbons</td>
                                            </tr>
                                            <tr>
                                                <td>14:00 - 14:15</td>
                                                <td><strong>Vendor results analysis and discussion </strong><br> Rich Gibbons & AJ Witt</td>
                                            </tr>
                                            <tr>
                                                <td>14:00 - 14:15</td>
                                                <td><strong>Vendor Session </strong><br> USU</td>
                                            </tr>                                                    
                                            <tr>
                                                <td> 15:30 - 16:00</td>
                                                <td><strong>Q&A Panel Session </strong></td>
                                            </tr>
                                        </table>
                                    </div>     
                                </div>
                            </div>     
                        </div>
                    </div>    
                    <div id="speakers" class="anchor__content">
                        <div class="container">
                            <div class="row">  
                                <div class="anchor__content--title">
                                    <h2 class="h2 line__bottom--yellow">Speakers</h2>
                                </div>
                                <div class="anchor__content--body">
                                    <ul class="list-col-3">
                                        <li>
                                            <div class="sub-img br-circle"><img src="img/image2.jpg" alt="foto"></div>
                                            <div class="sub-title">Rich Gibbons</div>
                                            <div class="sub-desc">ITAM Services Director, The ITAM Review</div>
                                            <div class="sub-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                        </li>
                                        <li>
                                            <div class="sub-img br-circle"><img src="img/image1.jpg" alt="foto"></div>
                                            <div class="sub-title">AJ Witt</div>
                                            <div class="sub-desc">ITAM Industry Analyst, The ITAM Review</div>
                                            <div class="sub-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>     
                        </div>
                    </div>       
                    <div id="sponsors" class="anchor__content">
                        <div class="container">
                            <div class="row"> 
                                <div class="anchor__content--title">
                                    <h2 class="h2 line__bottom--yellow">Sponsors</h2>
                                </div>
                                <div class="anchor__content--body">
                                    <ul class="list-col-3  ">
                                        <li class="m-md-0">
                                            <div class="sub-img sub-img-wrapper"><img src="img/ups.png" alt="foto"></div>
                                            <div class="sub-title">USU</div>
                                            <div class="sub-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                        </li>
                                        <li class="m-md-0">
                                            <div class="sub-img sub-img-wrapper"><img src="img/zluri.png" alt="foto"></div>
                                            <div class="sub-title">Zluri</div>
                                            <div class="sub-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>                                                      
                    <div id="venue" class="anchor__content pb-0">
                        <div class="container">
                            <div class="row"> 
                                <div class="anchor__content--title">
                                    <h2 class="h2 line__bottom--yellow">Venue</h2>
                                </div>
                                <div class="anchor__content--body">
                                    <div class="post-entries__maps">
                                        <img src="img/maps.jpg" alt="map-img" class="w100" />
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div id="testimonials" class="anchor__content">
                        <div class="container">
                            <div class="row"> 
                                <div class="anchor__content--body">                               
                                    <div class="quotation quotation-grey-blue quotation-icon">
                                        “I have three children, a dog, a cockatiel, as well as the occasional weird “pet”; the most recent being a rather plump and clumsy wood pigeon called Pedro.”
                                    </div>                                            
                                    <div class="quotation quotation-grey-blue quotation-icon mb-0">
                                        “I have three children, a dog, a cockatiel, as well as the occasional weird “pet”; the most recent being a rather plump and clumsy wood pigeon called Pedro.”
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  
            </div>
        </section>
        <section class="section__cta-small section__default section__default--gradient center ">
            <div class="search__icon--medium"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="section__wrapper">
                            <div class="section__header">
                                <h2 class="h2 text-white">Can’t find what you’re looking for?</h2>
                            </div>
                            <div class="section__content section__content--search">
                                <div class="search__wrapper">
                                    <form action="search">
                                        <div class="search__form">
                                            <span class="search__icon"></span>
                                            <input type="text" name="s" class="form-control search__text" placeholder="Search our database" />
                                            <span class="search__button">
                                                <input type="submit" class="button" value="Search"/>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}