{% set title = "Home" %}
{% set bodyClass = "home" %}

{% extends "_html/_base/_layouts/_frontpage.html" %}

{% block content %}
    <div class="page__content" id="site">
        <div class="container">
            <div class="row">
                <main class="content ">
                    <section class="featured__news">
                        <div class="content__title content__title--featured">
                            <h2 class="h2">Featured news</h2>
                        </div>
                        <div class="content__desc content__desc--featured">
                            The latest news, reviews and resources within the IT asset management market. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Aliquam pulvinar sollicitudin lorem, quis cursus tortor accumsan non. Nulla maximus vitae neque eu scelerisque. 
                            Donec libero libero, condimentum non aliquet vitae, semper quis felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Aliquam pulvinar sollicitudin. Read the latest news.
                        </div>
                        <div class="post-default__wrapper">
                            <ul class="post-default__listing news">
                                <li class="post-default__item">
                                    <div class="post-default__item--wrapper">
                                        <div class="post__img--wrapper">
                                            <img src="img/post/post-1.jpg" alt="news post 1">
                                            <a href="/category" class="tag tag__category">Category Tag</a>
                                        </div>
                                        <h3 class="post__title">
                                            How pre-owned software reduces the impact of Microsoft price increases
                                        </h3>
                                        <div class="post__excerpt">
                                            Microsoft is increasing Office/Microsoft 365 prices in March 2022, with several products seeing double-digit rises.
                                        </div>
                                        <div class="post__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="post-default__item">
                                    <div class="post-default__item--wrapper">
                                        <div class="post__img--wrapper">
                                            <img src="img/post/post-2.jpg" alt="news post 2">
                                            <a href="/category" class="tag tag__category">Category Tag</a>
                                        </div>
                                        <h3 class="post__title">
                                            ITAM Forum expands chapter network, volunteers required
                                        </h3>
                                        <div class="post__excerpt">
                                            We want you! The ITAM Forum is actively recruiting Country Chapter Leads. Could this be for you?
                                        </div>
                                        <div class="post__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="post-default__item">
                                    <div class="post-default__item--wrapper">
                                        <div class="post__img--wrapper">
                                            <img src="img/post/post-3.jpg" alt="news post 3">
                                            <a href="/category" class="tag tag__category">Category Tag</a>
                                        </div>
                                        <h3 class="post__title">
                                            Crowdsourced Favourites – Most read news from 2021
                                        </h3>
                                        <div class="post__excerpt">
                                            We posted around 100 updates in 2021, here are the top 15 most read by ITAM Review readers,
                                        </div>
                                        <div class="post__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </li>  
                                <li class="post-default__item">
                                    <div class="post-default__item--wrapper">
                                        <div class="post__img--wrapper">
                                            <img src="img/post/post-4.jpg" alt="news post 4">
                                            <a href="/category" class="tag tag__category">Category Tag</a>
                                        </div>
                                        <h3 class="post__title">
                                            Would you like a quality stamp for your ITAM management system?
                                        </h3>
                                        <div class="post__excerpt">
                                            In this episode of the Change Makers podcast series, we speak with Dennis Montanje.
                                        </div>
                                        <div class="post__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </li>                                                                      
                            </ul>
                        </div>
                    </section>
                </main>
                <sidebar class="sidebar">
                    <div class="widjet__events">
                        <div class="content__title content__title--events">
                            <h2 class="h2">Upcoming events</h2>
                        </div>
                        <div class="content__desc content__desc--events">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar sollicitudin lorem, quis cursus tortor accumsan non. Nulla maximus vitae neque eu scelerisque. Donec libero. See all our events.
                        </div>
                        <div class="post-default__wrapper">
                            <ul class="post-default__listing news">
                                <li class="post-default__item">
                                    <div class="post-default__item--wrapper">
                                        <div class="post__img--wrapper">
                                            <img src="img/post/post-1.jpg" alt="news post 1">
                                            <a href="/category" class="tag tag__category">CONFERENCE</a>
                                        </div>
                                        <h3 class="post__title">
                                            Wisdom online APAC 2021
                                        </h3>
                                        <div class="post-default__date">
                                            24th - 25th November 2021
                                        </div>
                                        <div class="post__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="post-default__item">
                                    <div class="post-default__item--wrapper">
                                        <div class="post__img--wrapper">
                                            <img src="img/post/post-2.jpg" alt="news post 2">
                                            <a href="/category" class="tag tag__category">WEBINAR</a>
                                        </div>
                                        <h3 class="post__title">
                                            On Demand Webinar:Asset Enrichment Data
                                        </h3>
                                        <div class="post-default__date">
                                            14th February 2022
                                        </div>
                                        <div class="post__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </sidebar>
            </div>
        </div>
        <section class="section__cta section__default section__default--purple center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-7 col-sm-6 col-md-5">
                        <div class="section__header">
                            <div class="cta__title">The ITAM Marketplace</div>
                        </div>  
                        <div class="section__content text-white">
                            Marketplace provides expert analysis and customer reviews for IT & Software Asset tools and services. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>  
                        <div class="section__footer">
                            <a href="#" class="button">Primary CTA</a>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
        <section class="section__lastnews">
            <div class="container">
                <div class="row ">
                    <div class="col-8">
                        <div class="content__title content--wrapper content--center">
                            <h2 class="h2 line__bottom--purple">Latest news & events</h2>
                        </div>
                        <div class="content__desc  content__desc--lastnews">
                            The latest news, reviews and resources within the IT asset management market. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="filters">
                            <div class="filters__options">
                                <div class="options__warapper d-none d-md-flex">
                                    <ul class="options__list">
                                        <li class="options__item">
                                            <select name="" id="">
                                                <option value="">Filter goes here</option>
                                            </select>
                                        </li>
                                        <li class="options__item">
                                            <select name="" id="">
                                                <option value="">Filter goes here</option>
                                            </select>
                                        </li>
                                        <li class="options__item">
                                            <select name="" id="">
                                                <option value="">Filter goes here</option>
                                            </select>
                                        </li>
                                        <li class="options__item">
                                            <select name="" id="">
                                                <option value="">Filter goes here</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <div class="filters__btn">
                                        <a href="/" class="">Clear all filters</a>
                                    </div>
                                </div>
                                <div class="filters__active">Filter results</div>
                            </div>
                            <div class="filters__wrapper">
                                <ul class="post-small__listing post-small__listing--colored">
                                    <li class="post__item">
                                        <div class="post__img--wrapper">
                                            <img src="img/post/post-small-1.jpg" alt="news post 1">
                                        </div>
                                        <h3 class="post__title">
                                            Lorem ipsum dolor sit amet
                                        </h3>
                                        <div class="post__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </div>
                                        <div class="post__btn">
                                            <a href="#" class="button button__secondary">Secondary CTA</a>
                                        </div>
                                    </li>
                                    <li class="post__item">
                                        <ul class="post-small__listing post-small__listing--simple">
                                            <li class="post__item">
                                                <h3 class="post__title">
                                                    Lorem ipsum dolor sit amet
                                                </h3>
                                                <div class="post__excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                </div>
                                            </li>                                    
                                            <li class="post__item">
                                                <h3 class="post__title">
                                                    Lorem ipsum dolor sit amet
                                                </h3>
                                                <div class="post__excerpt">
                                                    LLorem ipsum dolor sit amet, consectetur adipiscing elit
                                                </div>
                                            </li>                                    
                                            <li class="post__item">
                                                <h3 class="post__title">
                                                    Lorem ipsum dolor sit amet
                                                </h3>
                                                <div class="post__excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                </div>
                                            </li>
                                        </ul>
                                    </li>  
                                    <li class="post__item">
                                            <h2 class="h2 post__title text-white">
                                                Lorem ipsum dolor sit amet
                                            </h2>
                                            <div class="post__excerpt">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button button__tertiary">Primary CTA</a>
                                            </div>
                                            <div class="post-icon">
                                                <img src="img/icons/person.png" alt="icon">
                                            </div>
                                    </li>  
                                    <li class="post__item">
                                        <h2 class=" h2 post__title text-white">
                                            Lorem ipsum dolor sit amet
                                        </h2>
                                        <div class="post__excerpt text-white">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </div>
                                        <div class="post__btn">
                                            <a href="#" class="button button__tertiary">Primary CTA</a>
                                        </div>
                                        <div class="post-icon">
                                            <img src="img/icons/books.png" alt="icon">
                                        </div>
                                    </li>  
                                    <li class="post__item">
                                        <div class="post__img--wrapper">
                                            <img src="img/post/post-small-2.jpg" alt="news post 1">
                                        </div>
                                        <h3 class="post__title">
                                            Lorem ipsum dolor sit amet
                                        </h3>
                                        <div class="post__excerpt ">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </div>
                                        <div class="post__btn">
                                            <a href="#" class="button button__secondary">Secondary CTA</a>
                                        </div>
                                    </li>
                                    <li class="post__item">
                                        <ul class="post-small__listing post-small__listing--simple">
                                            <li class="post__item">
                                                <h3 class="post__title">
                                                    Lorem ipsum dolor sit amet
                                                </h3>
                                                <div class="post__excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                </div>
                                            </li>                                    
                                            <li class="post__item">
                                                <h3 class="post__title">
                                                    Lorem ipsum dolor sit amet
                                                </h3>
                                                <div class="post__excerpt">
                                                    LLorem ipsum dolor sit amet, consectetur adipiscing elit
                                                </div>
                                            </li>                                    
                                            <li class="post__item">
                                                <h3 class="post__title">
                                                    Lorem ipsum dolor sit amet
                                                </h3>
                                                <div class="post__excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                </div>
                                            </li>
                                        </ul>
                                    </li>                                                                                                          
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section__cta-small section__default section__default--gradient center ">
            <div class="search__icon--medium"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="section__wrapper">
                            <div class="section__header">
                                <h2 class="h2 text-white">Can’t find what you’re looking for?</h2>
                            </div>
                            <div class="section__content section__content--search">
                                <div class="search__wrapper">
                                    <form action="search">
                                        <div class="search__form">
                                            <span class="search__icon"></span>
                                            <input type="text" name="s" class="form-control search__text" placeholder="Search our database" />
                                            <span class="search__button">
                                                <input type="submit" class="button" value="Search"/>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="resources">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="content__title content__title--resources">
                            <h2 class="h2">Additional resources</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 col-md-6">
                        <div class="content__desc content__desc--featured">
                            The latest news, reviews and resources within the IT asset management market. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. View all our resources.
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div id="resources-owl">
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-1.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Training</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-2.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Resources</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-3.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Podcasts</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-4.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">White Papers</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-1.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Other</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-2.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Training</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-3.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Resources</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                                                                                           
                    </div>
                </div>
            </div>
        </section>
        <section class="section__cta-email section__default center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-7 col-sm-4 col-md-4">
                        <div class="section__header">
                            <h2 class="h2">The ITAM Review delivered to your inbox</h2>
                        </div>  
                        <div class="section__content ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>  
                        <div class="section__footer">
                            <a href="#" class="button">Primary CTA</a>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}