{% set title = "content-page News Category" %}
{% set bodyClass = "news" %}

{% extends "_html/_base/_layouts/_news-category.html" %}

{% block content %}
    <div class="page__content" id="site">

        <section class="section__lastnews pt0">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                       <div class="lastnews__wrapper">
                            <ul class="post-small__listing post-small__listing--colored">
                                <li class="post__item">
                                    <div class="post__img--wraper">
                                        <img src="img/post/post-small-1.jpg" alt="news post 1">
                                    </div>
                                    <h3 class="post__title">
                                        Lorem ipsum dolor sit amet
                                    </h3>
                                    <div class="post__excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                    <div class="post__btn">
                                        <a href="#" class="button button__secondary">Secondary CTA</a>
                                    </div>
                                </li>
                                <li class="post__item">
                                    <ul class="post-small__listing post-small__listing--simple">
                                        <li class="post__item">
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                            </div>
                                        </li>                                    
                                        <li class="post__item">
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt">
                                                LLorem ipsum dolor sit amet, consectetur adipiscing elit
                                            </div>
                                        </li>                                    
                                        <li class="post__item">
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                            </div>
                                        </li>
                                    </ul>
                                </li>  
                                <li class="post__item">
                                    <h2 class="h2 post__title text-white">
                                        Lorem ipsum dolor sit amet
                                    </h2>
                                    <div class="post__excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                    <div class="post__btn">
                                        <a href="#" class="button button__tertiary">Primary CTA</a>
                                    </div>
                                    <div class="post-icon">
                                        <img src="img/icons/person.png" alt="icon">
                                    </div>
                                </li>  
                                <li class="post__item">
                                    <h2 class=" h2 post__title text-white">
                                        Lorem ipsum dolor sit amet
                                    </h2>
                                    <div class="post__excerpt text-white">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                    <div class="post__btn">
                                        <a href="#" class="button button__tertiary">Primary CTA</a>
                                    </div>
                                    <div class="post-icon">
                                        <img src="img/icons/books.png" alt="icon">
                                    </div>
                                </li>  
                                <li class="post__item">
                                    <div class="post__img--wraper">
                                        <img src="img/post/post-small-2.jpg" alt="news post 1">
                                    </div>
                                    <h3 class="post__title">
                                        Lorem ipsum dolor sit amet
                                    </h3>
                                    <div class="post__excerpt ">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </div>
                                    <div class="post__btn">
                                        <a href="#" class="button button__secondary">Secondary CTA</a>
                                    </div>
                                </li>
                                <li class="post__item">
                                    <ul class="post-small__listing post-small__listing--simple">
                                        <li class="post__item">
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                            </div>
                                        </li>                                    
                                        <li class="post__item">
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt">
                                                LLorem ipsum dolor sit amet, consectetur adipiscing elit
                                            </div>
                                        </li>                                    
                                        <li class="post__item">
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                            </div>
                                        </li>
                                    </ul>
                                </li>                                                                                                          
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section__default section__category space-large">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="content__title">
                            <h2 class="h2 line__bottom--purple">Category name</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 col-md-6">
                        <div class="content__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="slider__wrapper">
                            <ul id="category-owl" class="owl-carusel">
                                <li>
                                    <ul class="post-small__listing ">
                                        <li class="post__item post__colored post__colored post__colored--primary">
                                            <h2 class="h2 post__title text-white">
                                                Lorem ipsum dolor sit amet
                                            </h2>
                                            <div class="post__excerpt text-white">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button button__tertiary">Primary CTA</a>
                                            </div>
                                            <div class="post-icon">
                                                <img src="img/icons/person.png" alt="icon">
                                            </div>
                                        </li>  
                                        <li class="post__item">
                                            <div class="post__img--wraper">
                                                <img src="img/post/post-small-1.jpg" alt="news post 1">
                                            </div>
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button button__secondary">Secondary CTA</a>
                                            </div>
                                        </li>
                                        <li class="post__item">
                                            <ul class="post-small__listing post-small__listing--simple">
                                                <li class="post__item">
                                                    <h3 class="post__title">
                                                        Lorem ipsum dolor sit amet
                                                    </h3>
                                                    <div class="post__excerpt">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                    </div>
                                                </li>                                    
                                                <li class="post__item">
                                                    <h3 class="post__title">
                                                        Lorem ipsum dolor sit amet
                                                    </h3>
                                                    <div class="post__excerpt">
                                                        LLorem ipsum dolor sit amet, consectetur adipiscing elit
                                                    </div>
                                                </li>                                    
                                                <li class="post__item">
                                                    <h3 class="post__title">
                                                        Lorem ipsum dolor sit amet
                                                    </h3>
                                                    <div class="post__excerpt">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>  
                                    </ul>
                                </li>
                                <li>
                                    <ul class="post-small__listing ">
                                        <li class="post__item post__colored post__colored post__colored--secondary">
                                            <h2 class="h2 post__title text-white">
                                                Lorem ipsum dolor sit amet
                                            </h2>
                                            <div class="post__excerpt text-white">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button button__tertiary">Primary CTA</a>
                                            </div>
                                            <div class="post-icon">
                                                <img src="img/icons/person.png" alt="icon">
                                            </div>
                                        </li>  
                                        <li class="post__item">
                                            <div class="post__img--wraper">
                                                <img src="img/post/post-small-1.jpg" alt="news post 1">
                                            </div>
                                            <h3 class="post__title">
                                                Lorem ipsum dolor sit amet
                                            </h3>
                                            <div class="post__excerpt">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </div>
                                            <div class="post__btn">
                                                <a href="#" class="button button__secondary">Secondary CTA</a>
                                            </div>
                                        </li>
                                        <li class="post__item">
                                            <ul class="post-small__listing post-small__listing--simple">
                                                <li class="post__item">
                                                    <h3 class="post__title">
                                                        Lorem ipsum dolor sit amet
                                                    </h3>
                                                    <div class="post__excerpt">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                    </div>
                                                </li>                                    
                                                <li class="post__item">
                                                    <h3 class="post__title">
                                                        Lorem ipsum dolor sit amet
                                                    </h3>
                                                    <div class="post__excerpt">
                                                        LLorem ipsum dolor sit amet, consectetur adipiscing elit
                                                    </div>
                                                </li>                                    
                                                <li class="post__item">
                                                    <h3 class="post__title">
                                                        Lorem ipsum dolor sit amet
                                                    </h3>
                                                    <div class="post__excerpt">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>  
                                    </ul>
                                </li>
                            </ul>
                            <div class="slick-arrows-custom"><div class="slick-dots-custom"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="resources">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="content__title content__title--resources">
                            <h2 class="h2">Additional resources</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 col-md-6">
                        <div class="content__desc content__desc--featured">
                            The latest news, reviews and resources within the IT asset management market. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. View all our resources.
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div id="resources-owl">
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-1.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Training</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-2.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Resources</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-3.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Podcasts</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-4.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">White Papers</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-1.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Other</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-2.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Training</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                        <div class="carousel-item">
                            <div class="carousel-item-wrapper">
                                <div class="post-caroucel">
                                    <div class="post-caroucel__img">
                                        <img src="img/carusel/carusel-3.jpg" class="w-100" alt="carusel">
                                    </div>
                                    <div class="post-caroucel__text">
                                        <div class="post-caroucel__title">
                                            <h3 class="h3">Resources</h3>
                                        </div>
                                        <div class="post-caroucel__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        </div>
                                        <div class="post-caroucel__btn">
                                            <a href="#" class="button">Primary CTA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                                                                                           
                    </div>
                </div>
            </div>
        </section>

    
        <section class="section__cta-small section__default section__default--gradient center ">
            <div class="search__icon--medium"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="section__wrapper">
                            <div class="section__header">
                                <h2 class="h2 text-white">Can’t find what you’re looking for?</h2>
                            </div>
                            <div class="section__content section__content--search">
                                <div class="search__wrapper">
                                    <form action="search">
                                        <div class="search__form">
                                            <span class="search__icon"></span>
                                            <input type="text" name="s" class="form-control search__text" placeholder="Search our database" />
                                            <span class="search__button">
                                                <input type="submit" class="button" value="Search"/>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}