{% set title = "Search results" %}
{% set bodyClass = "results" %}

{% extends "_html/_base/_layouts/_results.html" %}

{% block content %}
    <div class="page__content mt-0" id="site">
        <section class="search-results">
            <div class="search__heading">
                <div class="container p-0">
                    <div class="row flex-md-row-reverse">
                    
                        <div class="col-8 col-md-4  align-items-center m-auto">
                            <div class="search-filter">
                                <div class="search-filter__title">
                                    <h3 class="h3">Refine results</h3>
                                </div>
                                <div class="filters">
                                    <div class="filters__options">
                                        <div class="options__warapper d-none d-md-flex">
                                            <ul class="options__list">
                                                <li class="options__item">
                                                    <select name="" id="">
                                                        <option value="">Filter goes here</option>
                                                    </select>
                                                </li>
                                                <li class="options__item">
                                                    <select name="" id="">
                                                        <option value="">Filter goes here</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="filters__active  d-block d-md-none">Filters</div>

                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-md-4 align-items-center m-auto">
                            <div class="search__terms">You searched for <i> *searched term(s)*.</i> We found 123 results</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container p-md-0">
                <div class="row line__bottom--purple space-large mt-0">
                    <div class="col-12 col-md-6">
                        <div class="quotation__header">
                            <h2 class="h2">Introducing George Wright, ITAM Review’s new editor</h2>
                        </div>
                        <div class="quotation__content">
                            I am excited to announce my appointment as editor of The ITAM Review. Those of you who already know me may be surprised to see me this side of the editor’s desk. I am joining The ITAM Review from the PR side – or “The Dark Side” – as some would say. In fact, I’ve been pitching my clients to Martin for over a decade now, so to say it feels odd to be the one receiving pitches for a change is an understatement.
                        </div>
                        <div class="quotation__info">
                            <div class="info__tag"><a href="#" class="tag tag--dark">Category Tag</a></div>
                            <div class="info__date">
                                <i class="icon icon-date"></i><span class="icon-label">04 February 2022</span>
                            </div>
                            <div class="info__time">
                                <i class="icon icon-time"></i><span class="icon-label">1 minute read</span>
                            </div>
                            <div class="info__author">
                                <i class="icon icon-pencil"></i><span class="icon-label">George Wright</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row line__bottom--purple space-large mt-0">
                    <div class="col-12 col-md-6">
                        <div class="quotation__header">
                            <h2 class="h2">Software Vendor Insights 2022</h2>
                        </div>
                        <div class="quotation__content">
                            Join the ITAM Review on Thursday 17th February 2022 at 2pm GMT as we discuss how these organisations fared in 2021 and what to expect from them in 2022 – including audits, product focus areas, licensing and more. Several key software vendors will close their financial years towards the end of 2021.
                        </div>
                        <div class="quotation__info">
                            <div class="info__tag"><a href="#" class="tag tag--dark">Category Tag</a></div>
                            <div class="info__date">
                                <i class="icon icon-date"></i><span class="icon-label">04 February 2022</span>
                            </div>
                            <div class="info__time">
                                <i class="icon icon-time"></i><span class="icon-label">1 minute read</span>
                            </div>
                            <div class="info__author">
                                <i class="icon icon-pencil"></i><span class="icon-label">George Wright</span>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="row line__bottom--purple space-large mt-0">
                    <div class="col-12 col-md-6">
                        <div class="quotation__header">
                            <h2 class="h2">Introducing George Wright, ITAM Review’s new editor</h2>
                        </div>
                        <div class="quotation__content">
                            I am excited to announce my appointment as editor of The ITAM Review. Those of you who already know me may be surprised to see me this side of the editor’s desk. I am joining The ITAM Review from the PR side – or “The Dark Side” – as some would say. In fact, I’ve been pitching my clients to Martin for over a decade now, so to say it feels odd to be the one receiving pitches for a change is an understatement.
                        </div>
                        <div class="quotation__info">
                            <div class="info__tag"><a href="#" class="tag tag--dark">Category Tag</a></div>
                            <div class="info__date">
                                <i class="icon icon-date"></i><span class="icon-label">04 February 2022</span>
                            </div>
                            <div class="info__time">
                                <i class="icon icon-time"></i><span class="icon-label">1 minute read</span>
                            </div>
                            <div class="info__author">
                                <i class="icon icon-pencil"></i><span class="icon-label">George Wright</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row line__bottom--purple space-large mt-0">
                    <div class="col-12 col-md-6">
                        <div class="quotation__header">
                            <h2 class="h2">Software Vendor Insights 2022</h2>
                        </div>
                        <div class="quotation__content">
                            Join the ITAM Review on Thursday 17th February 2022 at 2pm GMT as we discuss how these organisations fared in 2021 and what to expect from them in 2022 – including audits, product focus areas, licensing and more. Several key software vendors will close their financial years towards the end of 2021.
                        </div>
                        <div class="quotation__info">
                            <div class="info__tag"><a href="#" class="tag tag--dark">Category Tag</a></div>
                            <div class="info__date">
                                <i class="icon icon-date"></i><span class="icon-label">04 February 2022</span>
                            </div>
                            <div class="info__time">
                                <i class="icon icon-time"></i><span class="icon-label">1 minute read</span>
                            </div>
                            <div class="info__author">
                                <i class="icon icon-pencil"></i><span class="icon-label">George Wright</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="search-results__page-navigation">
                        <a href="#" class="page-arrow-custom page-arrow-link" aria-label="Previous">
                            <span class="page-prev-img"></span>
                            Previous page
                        </a>
                        <ul class="page__list">
                            <li class="page__item"><a href="#" class="page-arrow-link page__item--link">1</a></li>
                            <li class="page__item"><a href="#" class="page-arrow-link page__item--link active">2</a></li>
                            <li class="page__item"><a href="#" class="page-arrow-link page__item--link">3</a></li>
                            <li class="page__item"><a href="#" class="page-arrow-link page__item--link">4</a></li>
                            <li class="page__item"><a href="#" class="page-arrow-link page__item--link">5</a></li>
                        </ul>
                        <a href="#" class="page-arrow-custom page-arrow-link" aria-label="Next">
                            Next page
                            <span class="page-next-img"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
     
        <section class="section__cta-small section__default section__default--gradient center ">
            <div class="search__icon--medium"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="section__wrapper">
                            <div class="section__header">
                                <h2 class="h2 text-white">Can’t find what you’re looking for?</h2>
                            </div>
                            <div class="section__content section__content--search">
                                <div class="search__wrapper">
                                    <form action="search">
                                        <div class="search__form">
                                            <span class="search__icon"></span>
                                            <input type="text" name="s" class="form-control search__text" placeholder="Search our database" />
                                            <span class="search__button">
                                                <input type="submit" class="button" value="Search"/>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}