{% set title = "Services" %}
{% set bodyClass = "services" %}

{% extends "_html/_base/_layouts/_services.html" %}

{% block content %}
    <div class="page__content mt-0" id="site">

        <section class="section__resources pt0">
            <div class="resources__wrapper">
                <ul class="resources__list">
                    <li class="resources__item">
                        <div class="container p-md-0">
                            <div class="row resources__item--wrapper flex-row-reverse">
                                <div class="resources__item--right col-8 col-md-2">
                                    <div class="resources__pic--wrapper">
                                        <img src="img/resources-1.jpg" alt="resources__foto" class="resources__pic">
                                    </div>
                                </div>
                                <div class="resources__item--left col-8 col-md-6">
                                    <div class="resources__item--title">
                                        <h2 class="h2 line__bottom--purple">Essential guide</h2>
                                    </div>
                                    <div class="resources__item--body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                    </div>
                                    <div class="resources__item--btn">
                                        <a href="#" class="button">Primary CTA</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="resources__item">
                        <div class="container p-md-0">
                            <div class="row resources__item--wrapper flex-row-reverse">
                                <div class="resources__item--right col-8 col-md-2">
                                    <div class="resources__pic--wrapper">
                                        <img src="img/resources-2.jpg" alt="resources__foto" class="resources__pic">
                                    </div>
                                </div>
                                <div class="resources__item--left col-8 col-md-6">
                                    <div class="resources__item--title">
                                        <h2 class="h2 line__bottom--purple">Maturity Assessment</h2>
                                    </div>
                                    <div class="resources__item--body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                    </div>
                                    <div class="resources__item--btn">
                                        <a href="#" class="button">Primary CTA</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="resources__item">
                        <div class="container p-md-0">
                            <div class="row resources__item--wrapper flex-row-reverse">
                                <div class="resources__item--right col-8 col-md-2">
                                    <div class="resources__pic--wrapper">
                                        <img src="img/resources-1.jpg" alt="resources__foto" class="resources__pic">
                                    </div>
                                </div>
                                <div class="resources__item--left col-8 col-md-6">
                                    <div class="resources__item--title">
                                        <h2 class="h2 line__bottom--purple">Essential guide</h2>
                                    </div>
                                    <div class="resources__item--body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                    </div>
                                    <div class="resources__item--btn">
                                        <a href="#" class="button">Primary CTA</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
         <section class="section__cta section__default section__default--purple center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-7 col-sm-6 col-md-5">
                        <div class="section__header">
                            <div class="cta__title">The ITAM Marketplace</div>
                        </div>  
                        <div class="section__content text-white">
                            Marketplace provides expert analysis and customer reviews for IT & Software Asset tools and services. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>  
                        <div class="section__footer">
                            <a href="#" class="button">Primary CTA</a>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
  
    </div>
{% endblock %}