
@import "carusel/slick.scss";
@import "carusel/slick-theme.scss";
/*       Post Caroucel    */
.post-caroucel{
    &__img{
        border-radius: 0px 0px 10px 10px;
        line-height: 0;
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 23px 24px 31px 25px;
        background: $secondary-grey-blue;
        border-radius: 0px 0px 10px 10px;
    }
    &__title h3, title .h3 {
        margin: 0;
    }
    &__excerpt{
        font-family: $font__body;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4em;
        color: $primary-grey;
    }

    &__btn, &__excerpt{
        margin-top: 13px;
        padding: 0;
    }
}

#category-owl {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    .post__item.post__colored.post__colored.post__colored--primary {
    //    margin: 0;
    }
    .post-small__listing .post__item {
 //       margin-left: 22px;
    }
}

.post-small__listing--simple {
//    margin: 0;
    li:first-child{
        padding-top: 0;
        .post__title{
            margin-top: 0;
        }
    }
}
.post-small__listing.post-small__listing--simple>li.post__item {
    width: 100%;
    margin: 0 22px 0 0!important;
 //   padding: 0;
}
.slick-arrows-custom {
    display: flex;
    max-width: 400px;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.slick-arrow-custom .slick-prev-img{
    left: 0; 
    background: url('/img/icons/arrow-left.png') 0 0 / 100% no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;

}

.slick-arrow-custom .slick-next-img{
    right: 0; 
    background: url('/img/icons/arrow-right.png') 100% 0 / 100% no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;

}


.slick-dots {
    bottom: -35px;
    li{

        button {
            border: 1px solid $primary-grey;
            width: 16px;
            height: 16px;
        }
        &.slick-active button {
            background: $primary-purple;
            border: 1px solid $primary-purple;
        }
    }
}    

#category-owl .slick-dots {
    max-width: 70px;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -13px;
    height: 16px;
}
.slick-arrow-custom.slick-arrow {
    width: 140px;
}    
.slider__wrapper   {

    max-width: 590px;
}
.slider__wrapper li ul.post-small__listing {
    margin: 0;
}
@media screen and (min-width: 640px) {
    #category-owl .post-small__listing--simple {
        padding: 0;
        margin-left: 22px;
    }

}
@media screen and (min-width: 1240px) {

    .slider__wrapper   {
        max-width: 100%;
    }
    #category-owl .post-small__listing--simple {
        padding: 0;
        margin: 0;
        .post__item{
            padding-left: 0!important;
        }
    }
    #category-owl .post-small__listing--simple .post__item{
        padding: 0; 
        margin: 0!important;
    
    }
}