.filters{
    margin-top: 11px;
    &__options{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 22px;
    }
    &__active{
        margin-left: 14px;
        padding: 9px 70px 9px 14px;
        background: $secondary-grey-blue;
        border-radius: 10px;
        display: flex;
        margin: auto;
    }
    &__btn{
        margin-left: 30px;
    }
}

.options{
    &__warapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background: $secondary-grey-blue;
        padding: 15px 0 16px;
        width: 100%;
        border-radius: 10px;
    }
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
    }
    &__item{
        margin: 0 20px 15px;
        white-space: nowrap;
        select{
            display: block;

            padding: 9px 14px;
            background: $color__background-body;
            border-radius: 10px;
            font-family:  $font__body;
            font-weight: 400;
            font-size: 15px;
            border: transparent;

        }
    }
}
