.footer{
    background-color: $primary-grey ;
    width: 100%;
    display: block;
    padding: 42px 0 117px;
    font-family: $font__body;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $color__text_alt;
    position: relative;
    &__desc{
        padding-top: 18px;
        color: $color__text_alt;
    }
    &__address{
        font-size: 16px;
        line-height: 22px;
        text-align: right;
        color: $color__text_alt;
    }  
    &__phone {
        padding-top: 20px;
        text-align: right;

        a  {
            font-size: 16px;
            line-height: 22px;
            color: $color__text_alt;
            outline: none;
            text-decoration: none;
        }
    }
    &__email {
        margin-top: 20px;
        text-align: right;

        a {
            font-size: 14px;
            line-height: 19px;
            color: $color__text_alt;
            outline: none;
            text-decoration: none;
        }
    }
}
.social__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 18px;
    li{
        margin-left: 21px;
    }
    i{
        color: #F2F4F9;
        font-size: 22px;
    }
}
.copyright {
    margin-top: -18px;
    color: $color__text_alt;

}
@media screen and (max-width: 991px) {
    .social__list li {
        margin-left: 0;
        margin-right: 21px;
    }
    .copyright {
        margin-top: 21px;
    }
    .footer{
        padding: 35px 0 45px;
        *{
            text-align: left!important;
            justify-content: flex-start;
        }
    } 
}
