.header{
    &__top{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        height: 89px;
        background: #ffffff;
        position: relative;

    }   
    &__logo {
        display: flex;
        height: 100%;
        max-height: 100%;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
    }
    &__nav{
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: auto;
    }
    &__search {
    }
    &__subscribe{
        margin-left: 20px;
    }
    &__featured {
        max-width: 100%;
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__gradient{
        background: $gradient;
        z-index: -1;
    }
    &__big{
        min-height: 304px;
    }
    &__small{
        min-height: 171px;
    }
}

.featured{
    &__wrapper{
        max-width: 754px;
        width: 100%;
        margin: 0;
        padding-top: 6px;
        position: relative;
        z-index: 1;
    }
    &__search{
        margin-top: 24px;
    }
    &__heading {
        padding-right: 56px;
    }
}
.header__small{
    padding: 30px 40px 39px 0;
 }
@media screen and (min-width: 991px) {
    .featured{
        &__wrapper{
            margin: 5px 76px 71px auto;
            padding-top: 30px;

        }
        &__search{
            margin-top: 45px;
            max-width: 343px;
        }
        &__heading {
            padding-right: 0;
        }
    }

}