.content.simple-post__main {
    max-width: 800px;
}
.simple__tag{
    margin-left: 25px;
}
.simple__heading--body{
	padding-bottom: 0.5rem;
}
.simple__heading--search{
    padding-top: .5rem;
    max-width: 500px;
}
.simple__heading--buttons{
    padding-top: 1rem;
    .button{
        margin-right: 12px;
    }
}

.simple-post__sidebar{
    max-width: 285px;
}
section.simple-post {
    padding-top: 23px;
}

.quotation__info>* , .info__date, .info__time, .info__author{
    white-space: nowrap;
    margin-right: 30px;
}
.icon-label{
    font-family: $font__body;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4em;
    white-space: nowrap;
    color: $secondary-blue-grey;
}


.quotation{
    &__info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 25px;
    }
    &-grey-blue {
        padding: 22px 49px 22px 29px;
        background: $secondary-grey-blue;
        margin-bottom: 60px;
    }
    &-icon{
        padding: 80px 20px 32px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background: url(/img/icons/speech.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 63px;
            height: 40px;
            top: 20px;
            left: 30px;
            display: block;
        }
        

    }
}
ul, ol {
    margin: 0 0 1.5em 0em;
    padding-left: 20px;
}

.widjet{
    &__header {
        margin-bottom: 45px;
        h2, .h2{
            margin-bottom: 0;
        }
    }

    &__decs{
        font-family: $font__body;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: $color__text-main;
        
    }
    &__line--yellow{
        margin-top: 22px;
        border-top: 2px solid $secondary-yellow;
    }
    &-category__post .post__item {
        max-width: 100%;
    }
}

.post-entries{
    p{
        margin-top: 0;
    }
    &__pic{    
        margin: 0px 0 25px;    
        &.w100 {
            width: 100%;
        }
    }
    &__maps{
        
        overflow: hidden;
    }
}

.dropdown-options{
    padding: 27px 0 25px;

    &__list{
        padding: 0;
        margin: 7px 0 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        max-width: 794px;
    }
    &__item{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 12px 19px 13px;
        background: $color__background-body;
        position: relative;
        margin-bottom: 5px;
        &:after{
            content: '';
            position: absolute; 
            background: url(/img/icons/arrow-down.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 14px;
            height: 9px;
            display: block;
            top: 0;
            bottom: 0;
            right: 21px;
            margin: auto;
            transition: all 0.5s;
        }
        &.open:after{
            transform: rotate(180deg);
            background: url(/img/icons/close.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 14px;
            height: 14px;
            display: block;
            top: 0;
            bottom: 0;
            right: 21px;
            margin: auto;
            transition: all 0.5s;
        }
        .item-text{
            margin-left: 16px;
        }
        .item{
            font-weight: 700;
        }

    }
}

.anchor{
    &__content--title {
        h2, .h2{
            margin-top: 0;
        }
    }

    &__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item{
        margin-right: 40px;
        padding: 17px 0 17px;
        
            &--link{
            text-decoration: none;
            padding: 8px 0;

            border-bottom: 1px solid transparent;
            &:hover, &.active{
                border-bottom: 1px solid $secondary-yellow;
            }
        }
    }
}
table.tabs__list {
    height: 40px;
    margin-top: -24px;
    tr{
        padding: 0 15px;
        display: table-cell;
    }
    td{           
        min-width: 80px;
        font-family: $font__body;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: $color__text-main;
        a{
            font-weight: 400;
            font-family: $font__body;
            padding: 0 15px;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            display: block;

            color: $color__text-main;
            text-decoration: none;
        }
        a:hover, a.active{
            font-weight: 700;
        }
        
    }
}
.tabs__content{
    background: $secondary-grey-blue;
    tr{
        padding: 6px 0 12px 0px;
        display: block;
    }

    tr:nth-child(even) {
        background: #fff;
    }
    td{
        vertical-align: text-top;
        padding-left: 30px;
        min-width: 145px;
        display: inline-table;
    }
}
.background__yellow{
    position: relative;
    &.opacity-20::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        opacity: 0.2;
        left: 0;
        top: 0;
        background: $secondary-yellow;
    }
}
.post-entries__anchor .anchor__content{
    &:nth-child(n){
        padding: 54px 0;
        display: block;
        width: 100%;
    }
    &:last-child{
        padding-bottom: 0;
    }
        
    &:nth-child(even){
        background: $secondary-grey-blue;
        .list-col-3 li{
            border-left: 1px solid transparent;

        }
        
    }
}
.list-col-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        max-width: 360px;
        width: 100%;
        position: relative;
    //    border-left: 1px solid $secondary-grey;
        padding: 0 54px;
        margin: 1rem 0;

        &:first-child{
            // padding-left: 0;
        //    border-left: 1px solid transparent;
        }
        .sub-title{
            margin-bottom: 4px;
            font-family: $font__default;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: $color__text-main;
        }
        .sub-desc{
            margin-bottom: 16px;
        }
        .sub-img-wrapper{
            display: flex;
            height: 116px;
            margin-bottom: 40px;
            img{
                margin-top: auto;
            }
        }
    }
}
.br-circle{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: block;
    overflow: hidden;
    margin-bottom: 19px;
}
#testimonials {
    background: transparent;
}
.resources{
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item{
        padding: 54px 0;

    }
    &__item:nth-child(even){
        background: $secondary-grey-blue;
    }
    &__item--wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    &__item--left{
        max-width: 794px;
    }
    &__item--btn{
        margin-top: 21px;
    }
    &__pic--wrapper{
        max-width: 200px;
        width: 100%;
        max-height: 200px;
        display: block;
        margin: -5px auto;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

    }
}

.search-results{
    .search-filter {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        .options__item {
            margin: 12px 20px 12px;
        }
        .options__warapper{
            padding: 0;
        }
    }

    .tag.tag--dark {
        margin-right: 40px;
        
    }
    .page-arrow-custom .page-prev-img {
        left: 0;
        background: url(/img/icons/arrow-left.png) 0 0/100% no-repeat;
        width: 16px;
        height: 16px;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
    }
    .page-arrow-custom .page-next-img {
        right: 0;
        background: url(/img/icons/arrow-right.png) 100% 0/100% no-repeat;
        width: 16px;
        height: 16px;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
    }
    .search-results__page-navigation, .page__list {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .search-results__page-navigation{
        padding: 0 34px;
        margin: 60px auto 0;
        max-width: 500px;
        background: $secondary-grey-blue;
        border-radius: 10px;
        height: 70px;
        .page-arrow-link{
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: $color__text-main;
            text-align: center;
            font-family: $font__body;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.4em;
            &:hover{
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
    .page__list{
        margin: auto;
    }
    .page__item--link  {
        width: 25px;
        height: 21px;

        &.active:before, &:hover:before{
            content: '';
            position: absolute;
            width: 16px;
            height: 3px;
            border-radius: 3px;
            background: $color__text-main;
            left: 0;
            right: 0;
            bottom: -5px;
            margin: auto;
        }
    }
}
@media screen and (min-width: 640px) {
    .quotation-icon {
        padding: 22px 40px 22px 120px;
    }
    .post-entries__pic.float-right {
        float: left;
        margin: 0px 43px 26px 0;
    }
    .dropdown-options{
        padding: 55px 0 47px;
        margin: 31px 0 16px;
    }
}
@media screen and (min-width: 991px) {

    .list-col-3 li{

        border-left: 1px solid $secondary-grey;

        &:first-child{
            padding-left: 0;
            border-left: 1px solid transparent;

        }

    }
}
@media screen and (max-width: 768px) {
    .resources__pic--wrapper{
        margin: 0 0 20px;
    }
    .list-col-3{
        flex-wrap: wrap;
        li{
            padding: 0!important;
        }
    }

}
@media screen and (max-width: 640px) {

    .simple__heading--buttons .button {
        margin-bottom: 1rem;
    }
    .post__item{
        max-width: 100%!important;
    }
    .quotation__info>* {
        margin-bottom: 13px;
        margin-right: 20px;
    }
    .info__tag{
        width: 100%!important;
    }
 
}