/*     Styles Post     */
.post{
    &__item{
        position: relative;
    }
    &__item--wrapper {
        display: flex;
        flex-direction: column;
    }
    &__img--wrapper{
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
        line-height: 0;
        .tag{
            position: absolute;
            bottom: 0;
            right: 10px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__item--center{
        text-align: center;
    }
    &__title {
        font-family: $font__default;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $color__text-main;
        margin: 23px 0 0; 
    }

    &__date{
        font-family: $font__body;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4em;
        color: $color__text-main;
        margin-top: 23px;

    }
    &__excerpt{
        font-family: $font__body;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4em;
        color: $color__text-main;
        margin-top: 23px;
    }
    &__btn {
        margin-top: 20px;
    }

    &-small__listing--colored .post__item{
   //     max-width: 283px;
        max-width: 100%;
    }
    &-small__listing .post__item .post__img--wrapper{
        max-height: 139px;
    
    } 
    &-medium__listing .post__item{
        max-width: 324px;
        margin: 0 auto 20px;
        .post__img--wrapper{
            max-height: 174px;
        }
    }
    &-default{
        &__listing {}
        &__item{
            max-width: 360px;
            margin-top: 40px;
        }
    }
    &__item .post__img--wrapper{
        max-height: 190px;
    }
    &-large__listing {
        .post__img--wrapper{
            max-height: 322px;
            max-width: 590px;
            .tag{
                right: 30px;
            }
        }
        .post__excerpt, .post__btn{
            margin-top: 13px;
        }
    }
}
/*     Styles Post  Default   */

.post-default{
    &__listing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        padding-top: 14px;
    }
    li{
        margin-top: 40px;
    }
}
.post-large__listing .post__item {
    max-width: 590px;
    width: 100%;
}
/*     Styles Post Medium */

.post-medium__listing  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 28px;
    margin: 0;
}

/*     Styles Post  Small   */
.post{
    &-small__listing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 28px;
    }
    &__item{
        position: relative;
        margin: 0;
        padding: 0;
        max-width: 284px;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 40px;

        .post__item--wrapper{
            padding: 23px 24px 31px 25px;
        }      
    }
    &__overlay--body {
        position: absolute;
        top: 0.5rem;
        left: 38px;
    }
}

.post-small__listing {
    .post__title,
    .post__date,
    .post__excerpt{
        margin: 16px 0 0; 
    }
    .post__title{
        font-size: 20px;
        line-height: 24px;
    }
    h2.post__title{
        font-size: 26px;
        color: $color__text_alt;
    }
    .post__btn {
        margin-top: 16px;
    }

}

/*     Styles Post Small Simple not img  */
.post-small__listing--simple {

    li{       
        border-bottom: 1px solid $secondary-grey;
        padding: 22px 0;
        max-width: 100%!important;

        &:last-child{
            border-bottom: 1px solid transparent;
        }
        .post__title,
        .post__date,
        .post__excerpt{
            margin: 14px 0 0; 

        }
        .post__title{
            font-size: 18px;
            line-height: 21px;
        }
        
        .post__excerpt{           
            font-size: 15px;
            line-height: 21px;
        }
    }
}
/*     Styles Post Small Colored   */

.post-small__listing--colored .post-small__listing--simple {

    li{
        min-width: 283px!important;
        min-height: auto!important;
        height: initial!important;
        background: transparent!important;
        padding: 20px 0!important;
        margin: 0!important;
        &:first-child{
            padding-top: 0!important;
        }
        .post__title{
            margin-top: 0!important;
        }
        
    }
}

.post-small__listing--colored>li{
    &:nth-child(3), 
    &:nth-child(4){
        min-height: 299px;
        border-radius: 10px;   
        padding: 20px 15px 31px 20px;
        margin-bottom: 30px;
        .post__excerpt,
        .post__btn{
            margin: 12px 0 0;
        }
        .post__excerpt{
            max-width: 320px;
        }
    }
    &:nth-child(3){
        background: $secondary-yellow;
    }
    &:nth-child(4){
        background: $primary-red;
        margin-top: 2px;
    }
}

.post__colored{
    width: 100%;
    display: block;
    border-radius: 10px;  
    height: 333px;
    min-width: 590px;
    padding: 16px 30px 42px 38px;
    margin-bottom: 30px;

    &--small{
        min-width: 284px;    
        max-width: 284px;    
        min-height: 283px;
        padding: 32px 20px 42px 38px!important;

    }
    .post__title {
        margin: 0;
    }
    .post__excerpt{
        margin-top: 13px;
        font-size: 15px;
        line-height: 21px;
    }
    .post__btn{
        margin-top: 13px;
    }

    &--yellow, &--secondary{
        background: $secondary-yellow;
    }
    &--purple, &--primary{
        background: $primary-red;
    }

}

@media screen and (min-width: 640px) {
    .post-small {
        &__listing--colored{
            padding-top: 34px;
            .post__item{
                max-width: 50%;
            }
        }
    }
    sidebar  .post-small__listing {
        padding-top: 0;
    }

    .post-small__listing--colored .post-small__listing--simple {
        padding-top: 0!important;  
    }

    .post-small__listing.post-small__listing--colored {
        max-width: 590px;
    }

    .post-small__listing--colored>li{
        &:nth-child(3),
        &:nth-child(4){
            height: 333px;
            min-width: 590px;
            padding: 16px 30px 42px 38px;
            .post__excerpt,
            .post__btn{
                margin: 13px 0 0;
            }
        }
        &:nth-child(3){
            margin-top: 0;
        }
    }

    .post-small__listing--colored .post__item:nth-child(5),
    .post-small__listing--colored .post__item:nth-child(6) {
        margin-left: 22px;
    }
}

@media screen and (min-width: 768px) {

    .featured__news .post-default__item {
        width: calc(50% - 10px);
        max-width: 360px;
       
    }
    .post-default__item{
        margin: 20px 0 20px;
    }
}

@media screen and (min-width: 1240px) {
    .post-small__listing, .post-small__listing--simple{
        margin: 0;
    }
    .post-small__listing--colored .post__item:nth-child(2) {
        max-width: 329px; 
        padding-left: 22px;
    }
    .post-small__listing--simple .post__item:nth-child(2) {
        padding-left: 0;
    }
    .post-small__listing.post-small__listing--colored {
        max-width: initial;
    }

    .post-small__listing--colored li{
        &:nth-child(3),
        &:nth-child(4){
            margin-bottom: 40px;
        }
    }
    .post-small__listing--colored .post__item {
        max-width: calc(25% - 22px);
    //    margin-left: 0!important;
    }

}
@media screen and (max-width: 480px) {

    .post-large__listing .post__img--wrapper .tag {
        right: 10px;
    }
    .post__overlay--body {
        position: absolute;
        top: 0;
        max-width: 90%;
        left: 15px;
        .post__excerpt{
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .page__wrapper .container{
        max-width: 100%;
    }
    .header__small{
        padding-left: 0;
        padding-right: 0;
    }
    
    .post__colored{
        min-width: 100%;
    }

}

@media screen and (max-width: 1240px) {
    .post-small__listing .post__item:nth-child(5),
    .post-small__listing .post__item:nth-child(6) {
        margin-left: 0;
    }
    .post-small__listing--colored > li:nth-child(3){
        margin-top: 30px;
    }
    sidebar.sidebar {
        max-width: 740px;
    }
}